body{ background-color:#99ffeecf ;
    font-family: Arial, Helvetica, sans-serif;
}
#principal{
    background-color:#68a89ec8 ;
    color: rgb(254, 254, 254);
   text-align: center;
}
.destaque{
    background-color:#68a89ec8;
    color: white;

    text-align: center;
}
.basico{
    color:#446f4f ;
}
.intermediario{
    color:#a2900cf1 ;
}
.avancado{
    color: #f50031b0;
}