@charset "UTF-8";


.conteiner{
display: grid;
grid-template-rows: repeat(9, 60px);
grid-template-columns: repeat(5, 1fr);
border: 2px solid black;

}
.topo{
    text-align: center;
   grid-row: 1 / 2;
   grid-column: 1 / 6;
    background-color: rgb(38, 38, 193);
}
.menu{
    text-align: center;
grid-row: 2 / 3;
grid-column: 1/ 6;


    background-color: aquamarine;
}
.texto{
    text-align: center;

 grid-row: 3/ 9;
 grid-column: 1/ 5;

background-color: cornflowerblue;
}
.anucio{
    text-align: center;
grid-row: 3/ 9 ;
grid-column:5 / 6 ;

    background-color: darkorange;
}
.rodape{
    text-align: center;
    
   grid-row:-2/ 10 ;
   grid-column: 1 / 6;

     background-color: rgb(226, 20, 20);
}