@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #7cdaf9;
    font-size: 1em;
    line-height: 1.5em;
}
h1,h2{
   margin-bottom: 20px;
   line-height: 1.2em;
   text-align: left;
}
p{
   padding-bottom: 10px; 
   text-align: justify;
}
header,.normal{
    padding: 20px;
}
section.flex-content{ 
    padding: 20px;
    flex-flow: column nowrap;
    display: flex;
}

article.media-text{
display: flex;
flex-flow: row wrap-reverse;
justify-content: space-between;
}
article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
article > div.media{
   flex: 1 1 500px;
}
article > div.text{
   flex: 1 0 400px;
}
div.media > img{
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px;
}
div.media > iframe{
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 10px;
}
footer{
   text-align: center;
   font-size: 1.1em;
  cursor: pointer;
  padding-bottom: 10px;
 
}
footer a{
    text-decoration: none;
   color: blue;
}
footer a:hover{
    color: brown;
}