 *{
    font-family: Arial, Helvetica, sans-serif;
 }
 body{
    background-image: linear-gradient( to right,#557314,#658C11 );
 }
 main{
    background-color:white ;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d0d0dbe;
    width: 600px;
    padding: 10px;
    margin: auto;
 }
 h2{
 color:#445925e6;
 }
 h1{
color: #77A612;
text-align: center;
text-shadow: 1px 1px 2px #070707ba;
 }
 p{
    text-align: justify;
 }
